.main {
  &__title {
    grid-column: 1/4;
    padding-top: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #323334;
  }
}

.card_list__wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.full_price__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  font-size: 20px;
  gap: 12px;

  &_text {
    align-self: flex-end;
    font-size: 20px;
    text-transform: capitalize;
    color: var(--text-color);
  }

  &_dash {
    border-top: 1px solid var(--primary-color);
  }
}

.content__wrapper {
  grid-column: 1 / 10;
  padding: 20px 0 60px;
}
