.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  grid-column: 3 / -1;
  gap: 24px;

  @media (max-width: (1200px)) {
    grid-column: 4 / -1;
  }

  @media (max-width: (900px)) {
    grid-column: 1 / -1;
  }

  @media (max-width: (700px)) {
    gap: 10px;
  }

  @media (max-width: (675px)) {
    grid-column: 5 / -1;
  }

  @media (max-width: (520px)) {
    grid-column: 1 / -1;
  }
}
