.card__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;

  .left_side {
    &__wrapper {
      display: flex;
      max-width: 160px;

      img {
        border-radius: 12px;
        height: auto;
        max-width: 100%;
        object-fit: cover;
      }
    }
  }

  .right_side {
    &__wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 16px;
    }

    &__headline {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-transform: capitalize;
      color: #323334;
    }

    &__total_wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      span {
        font-size: 20px;
        color: var(--primary-color, #758963);
      }

      .price__old {
        margin-right: 10px;
        font-size: var(--second-font-size);
        text-decoration: line-through;
        text-decoration-color: var(--primary-color, #758963);
        color: var(--grey-color);
      }
    }

    &__total {
      font-weight: 400;
      font-size: 18px;
      color: var(--primary-color, #758963);
    }

    &__attributes {
      font-size: 14px;
      letter-spacing: 0.25px;
      color: var(--grey-color, #989998);
    }

    &__goods_controller {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      &__block {
        display: flex;
        gap: 4px;
      }

      &__total_count {
        border: 1px solid var(--primary-color);
        border-radius: 12px;
        padding: 12px 30px;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        color: var(--primary-color);
      }
    }
  }
}
