.modal {
  display: flex;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 133px;
    height: 100%;
    background-image: url('./img/CloudSpech_successmodal.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__text {
    padding-right: 5px;
    font-size: var(--second-font-size);
    color: var(--grey-color);
  }
}
