.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.clear {
  display: flex;
  align-items: center;

  input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    right: 4px;
    margin: 0;
    outline: none;
    border: 2px solid rgba(152, 153, 152, 0.5);
    border-radius: 5px;
    height: 22px;
    min-width: 22px;
    cursor: pointer;

    &:checked {
      border: 2px solid var(--primary-color, #758963);
      background: var(--primary-color, #758963);
    }

    @media (prefers-reduced-motion: no-preference) {
      transition:
        var(--duration) border ease-in-out,
        var(--duration) background-color ease-in-out;
    }

    @media (any-hover: hover) {
      &:hover {
        border: 2px solid var(--accent-color, #3f5028);
      }
    }
  }
}
