.addressBlockWrapper {
  display: grid;
  margin-bottom: 48px;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  @media (max-width: (900px)) {
    display: flex;
    flex-direction: column;
  }
}

.addressBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  padding: 48px;
  width: 100%;
  background: var(--light-color);

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__address {
    margin-top: 6px;
  }

  &__typeBox {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__default {
    border-radius: 6px;
    padding: 6px;
    color: #fff;
    background: var(--primary-color, #758963);
  }

  &__type {
    border-radius: 6px;
    padding: 6px;
    color: #fff;
    background: var(--grey-color);
  }

  &__info {
    margin-top: 12px;
    line-height: 24px;
  }

  &__text {
  }

  &__buttonWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  &__buttton {
  }

  .edit {
    color: var(--primary-color, #758963);
  }

  .del {
    color: var(--grey-color, #989998);
  }
}

.bold {
  font-weight: 500;
}
