.hero {
  &__container {
    margin: 0 auto;
    padding: 0 var(--container-offset) 44px;
    max-width: var(--container-width);
  }

  &__left {
    place-self: center;
    grid-column: 2 / 7;

    @media (max-width: (1024px)) {
      grid-column: 5 span;
    }

    @media (max-width: (650px)) {
      grid-column: 12 span;
    }
  }

  &__title {
    margin-bottom: calc(var(--gap) * 2);
    font-weight: 500;
    font-size: var(--main-title-size, 57px);
    line-height: 112%;
    color: var(--text-color);
    text-wrap: balance;

    @media (max-width: (900px)) {
      font-weight: 400;
    }
  }

  &__right {
    grid-column: 5 span;

    @media (max-width: (1024px)) {
      grid-column: 6 span;
    }

    @media (max-width: (650px)) {
      order: -1;
      grid-column: 11 span;
    }
  }
}
