.breadcrumbs {
  display: flex;
  grid-column: 3 / -1;
  gap: 12px;

  .crumb a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: var(--main-font-size);
    line-height: 24px;
    text-transform: capitalize;
    color: var(--primary-color);
    transition: color var(--duration) ease-in-out;
  }

  @media (any-hover: hover) {
    a:hover {
      color: var(--accent-color, #3f5028);
      cursor: pointer;
    }
  }

  .crumb::after {
    content: '/';
    margin-left: 10px;
    color: var(--primary-color);
  }

  .crumb:last-child::after {
    display: none;
  }

  @media (max-width: (1200px)) {
    grid-column: 4 / -1;
  }

  @media (max-width: (900px)) {
    grid-column: 1 / -1;
  }

  @media (max-width: (675px)) {
    grid-column: 5 / -1;
  }

  @media (max-width: (520px)) {
    grid-column: 1 / -1;
  }
}
