.container {
  width: 40px;
  height: 40px;
}

@media (max-width: (900px)) {
  .container {
    order: 2;
  }
}

.button {
  border: none;
  width: 40px;
  height: 40px;
  color: currentcolor;
  background-image: url('./user.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

@media (any-hover: hover) {
  .button:hover {
    opacity: 0.7;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .button {
    transition: var(--duration) opacity ease-in-out;
  }
}

.menu {
  position: relative;
  z-index: 3;
  display: grid;
  overflow: hidden;
  border-radius: 12px;
  line-height: 0;
  color: transparent;
  transform: translateX(-70%);
  margin-block-start: 1.05lh;
}

.menu_item {
  place-self: center;
}

@media (prefers-reduced-motion: no-preference) {
  .menu {
    transition:
      line-height var(--duration) ease-in-out,
      color var(--duration) ease-in-out;
  }
}

.menu_link {
  display: block;
  border: none;
  padding: 0.5lh 50px;
  font-size: var(--second-font-size);
  line-height: 143%;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  background: none;
  visibility: hidden;
  cursor: pointer;
}

@media (any-hover: hover) {
  .menu_link:hover {
    color: var(--primary-color);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .menu_link {
    transition: var(--duration) color ease-in-out;
  }
}

.button.active ~ .menu {
  min-width: 168px;
  min-height: 148px;
  line-height: 1.2;
  color: currentcolor;
  background-color: #fff;
}

.button.active ~ .menu .menu_link {
  visibility: visible;
}
