.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.show {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  border: none;
  padding: 14px;
  background-color: transparent;
  cursor: pointer;

  @media (prefers-reduced-motion: no-preference) {
    transition: var(--duration) fill ease-in-out;
  }

  @media (any-hover: hover) {
    &:hover svg path {
      fill: var(--primary-color);
    }
  }
}
