.main_catalog {
  padding: 48px 0;
}

.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
  gap: 24px;
}

.catalor__sorting {
  grid-column: 11 / -1;
}

.catalor__sidebar {
  grid-column: 1 / 3;
}
