.catalog__main {
  padding: 48px 0;

  @media (max-width: (900px)) {
    padding: 24px 0;
  }
}

.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
  gap: 24px;
}

.button__wrapper {
  z-index: initial;
  display: none;
  color: currentcolor;

  button {
    padding: 6px;
  }

  svg {
    width: 20px;
    height: 20px;
    color: #fff;
    fill: #fff;
  }

  @media (max-width: (900px)) {
    display: block;
  }
}

.catalog__sorting {
  grid-column: 11 / -1;

  @media (max-width: (1215px)) {
    grid-column: 10 / 12;
  }

  @media (max-width: (1130px)) {
    grid-column: 9 / 12;
  }

  @media (max-width: (900px)) {
    grid-column: 4 span;
  }

  @media (max-width: (600px)) {
    grid-column: 1 / 6;
  }

  @media (max-width: (495px)) {
    grid-column: 1 / 8;
  }
}

.catalog__sidebar {
  grid-column: 1 / 3;

  @media (max-width: (900px)) {
    position: absolute;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 20px;
    padding: 20px 20px 200px 125px;
    width: 100%;
    height: 100dvh;
    box-shadow: 5px -8px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: var(--light-color);
    opacity: 0;
    visibility: hidden;
    transform: translateY(50%);
    gap: 24px;

    @media (prefers-reduced-motion: no-preference) {
      transition:
        transform var(--duration) ease-in-out,
        visibility var(--duration) ease-in-out,
        opacity var(--duration) ease-in-out;
    }
  }

  @media (max-width: (475px)) {
    padding-left: 65px;
  }

  &_active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.button__close {
  position: sticky;
  top: 0;
  display: none;
  align-self: flex-end;
  width: fit-content;
  color: var(--primary-color);

  button {
    padding: 8px;
  }

  svg {
    width: 16px;
    height: 16px;
    color: #fff;
    fill: #fff;
  }

  @media (max-width: (900px)) {
    display: block;
  }
}
