.button {
  padding: 15px;
  border-radius: 12px;
}

.button:hover:not(:disabled) {
  cursor: pointer;
}

.main {
  padding: 12.5px 30px;
  color: var(--Schemes-Primary, #758963);
  background-color: transparent;
  border: 1px solid var(--Primary-2, #758963);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.main:hover:not(:disabled) {
  color: var(--Schemes-Surface-Tint, #3f5028);
  border: 1px solid var(--Schemes-Surface-Tint, #3f5028);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button:disabled {
  color: var(--key-colors-secondary, #a6a6a6);
  border: 1px solid var(--Schemes-Surface-Container-Highest, #dee4de);
}

.filled {
  color: var(--Main-White, #fff);
  background: var(--Schemes-Primary, #758963);
  border: none;
}

.filled:hover:not(:disabled) {
  color: var(--Main-White, #fff);
  border: none;
  background: var(--Schemes-Surface-Tint, #3f5028);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.filled:disabled {
  box-shadow: none;
  background: var(--Schemes-Surface-Container-Highest, #dee4de);
}

/* Не уверен что нужно отключить, посмотреть как сделать при фокусе */
/* .button:focus {
  outline: none;
} */
