.button {
  border: 1px solid var(--primary-color, #758963);
  border-radius: 12px;
  padding: 15px;
  width: 45px;
  height: 45px;
  color: var(--primary-color, #758963);
  background-color: transparent;

  @media (any-hover: hover) {
    &:hover {
      border: 1px solid var(--accent-color, #3f5028);
      color: var(--accent-color, #3f5028);
      cursor: pointer;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    transition:
      color var(--duration, 0.3s) ease-in-out,
      border var(--duration, 0.3s) ease-in-out;
  }

  &:disabled {
    border: 1px solid var(--grey-color, #989998);
    box-shadow: none;
    cursor: default;
  }
}

.main {
  border: 1px solid var(--primary-color, #758963);
  padding: 12px 32px;
  width: auto;
  height: auto;
  box-shadow: none;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: var(--primary-color, #758963);

  @media (any-hover: hover) {
    &:hover {
      border: 1px solid var(--accent-color, #3f5028);
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    transition:
      box-shadow var(--duration, 0.3s) ease-in-out,
      border var(--duration, 0.3s) ease-in-out;
  }

  &:disabled {
    border: 1px solid var(--grey-color, #989998);
    box-shadow: none;
    color: var(--grey-color, #989998);
    cursor: default;
  }
}

.filled {
  border: none;
  color: var(--light-color, #f9f9f9);
  background: var(--primary-color, #758963);

  @media (any-hover: hover) {
    &:hover {
      border: none;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
      color: var(--Main-White, #fff);
      background: var(--Schemes-Surface-Tint, #3f5028);
      cursor: pointer;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    transition:
      box-shadow var(--duration, 0.3s) ease-in-out,
      background-color var(--duration, 0.3s) ease-in-out;
  }

  &:disabled {
    border: none;
    box-shadow: none;
    color: var(--light-color, #f9f9f9);
    background: var(--grey-color, #989998);
    cursor: default;
  }
}
