.account {
  display: flex;
  margin-top: 48px;
}

.header {
  grid-column: 1 / 11;

  &__text {
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--primary-color);
  }
}

.user {
  &__name {
    margin-top: 24px;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: var(--text-color);
  }

  &__photo {
    grid-column: 12 / -1;
    display: block;
    border-radius: 100px;
    width: 82px;
    height: 82px;
    background-color: var(--grey-color);
  }
}
