.main {
  &__title {
    grid-column: 1/4;
    padding-top: 40px;
    font-weight: 400;
    font-size: var(--page-title-size);
    line-height: 44px;
    color: #323334;
    text-wrap: nowrap;
  }
}

.card_list__wrapper {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 8;
  gap: 32px;

  @media (max-width: (1080px)) {
    grid-column: 12 span;
  }
}

.full_price {
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    font-size: var(--third-font-size);
    gap: 12px;

    &_output {
      display: flex;
      align-items: center;
    }

    &_text {
      align-self: flex-end;
      font-size: var(--third-font-size);
      text-transform: capitalize;
      color: var(--text-color);
    }

    &_old {
      margin-right: 10px;
      font-size: var(--second-font-size);
      text-decoration: line-through;
      text-decoration-color: var(--primary-color, #758963);
      color: var(--grey-color);
    }

    &_dash {
      border-top: 1px solid var(--primary-color);
    }
  }

  &__bottom_wrapper {
    display: flex;
    justify-content: space-between;

    &_clear {
      font-weight: 500;
      font-size: var(--main-font-size);
      line-height: 24px;
      text-transform: capitalize;
      color: var(--grey-color, #989998);

      @media (prefers-reduced-motion: no-preference) {
        transition: color var(--duration, 0.3s) ease-in-out;
      }

      @media (any-hover: hover) {
        &:hover {
          color: var(--text-color);
          cursor: pointer;
        }
      }
    }
  }
}

.content__wrapper {
  display: grid;
  grid-column: 1 / -1;
  padding: 20px 0 60px;
}

.discount__wrapper {
  grid-column: 10 / 12;

  @media (max-width: (1080px)) {
    grid-column: 4 span;
    padding-top: 48px;
  }

  @media (max-width: (675px)) {
    grid-column: 1 / 12;
  }
}
