.main {
  &__title {
    grid-column: 1/4;
    padding-top: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #323334;
  }
}

.card_list__wrapper {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 8;
  gap: 32px;
}

.full_price {
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    font-size: 20px;
    gap: 12px;

    &_text {
      align-self: flex-end;
      font-size: 20px;
      text-transform: capitalize;
      color: var(--text-color);
    }

    &_dash {
      border-top: 1px solid var(--primary-color);
    }
  }

  &__bottom_wrapper {
    display: flex;
    justify-content: space-between;

    &_clear {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-transform: capitalize;
      color: var(--grey-color, #989998);

      @media (prefers-reduced-motion: no-preference) {
        transition: color var(--duration, 0.3s) ease-in-out;
      }

      @media (any-hover: hover) {
        &:hover {
          color: var(--text-color);
          cursor: pointer;
        }
      }
    }
  }
}

.content__wrapper {
  display: grid;
  grid-column: 1 / -1;
  padding: 20px 0 60px;
}

.discount__wrapper {
  grid-column: 10 / 13;
}
