.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 32px var(--container-offset) 3px;
    max-width: var(--container-width);

    @media (max-width: (900px)) {
      padding: 17px var(--container-offset) 3px;
    }
  }

  &__logo {
    z-index: 4;
  }

  &__content {
    display: flex;
    align-items: center;

    @media (max-width: (900px)) {
      margin-left: auto;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  margin-right: calc(var(--gap) * 2);

  @media (max-width: (900px)) {
    animation: slide-out-above 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    min-width: 725px;

    @media (max-width: (1355px)) {
      min-width: 625px;
    }

    @media (max-width: (1100px)) {
      min-width: 590px;
    }

    @media (max-width: (900px)) {
      flex-direction: column;
      align-items: center;
      justify-content: unset;
      padding-top: 120px;
      height: 100%;
      min-width: unset;
      gap: 47px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: calc(var(--gap) * 2);

    @media (max-width: (900px)) {
      flex-direction: column;
      align-items: center;
      order: 1;
      margin-right: 0;
      gap: calc(var(--gap) * 2);
    }
  }

  &__link {
    font-weight: 400;
    font-size: var(--main-font-size, 16px);
    line-height: 150%;
    text-transform: capitalize;
    color: var(--text-color);

    &_active {
      color: var(--primary-color);
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--primary-color);
      }
    }

    @media (prefers-reduced-motion: no-preference) {
      transition: var(--duration) color ease-in-out;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    transition:
      var(--duration) visibility ease-in-out,
      var(--duration) transform ease-in-out;
  }

  @media (max-width: (900px)) {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    justify-content: center;
    overflow-y: auto;
    width: 100%;
    height: 100dvh;
    background-color: var(--light-color);
    visibility: hidden;
    transform: translateX(-100%);
  }

  &_active {
    visibility: visible;
    transform: none;

    @media (prefers-reduced-motion: no-preference) {
      animation: slide-in-above 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
  }
}

@keyframes slide-in-above {
  0% {
    opacity: 0;
    transform: translateY(-3.75rem) translateZ(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }
}

@keyframes slide-out-above {
  0% {
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-3.75rem) translateZ(0);
  }
}

.shop_nav {
  z-index: 4;

  &__list {
    display: flex;
    align-items: center;
    gap: calc(var(--gap) / 2);

    @media (max-width: (900px)) {
      flex-direction: column;
      order: 3;

      button {
        padding: 12px 139px;
        width: 100%;
      }
    }
  }

  &__list_item {
    @media (max-width: (900px)) {
      width: 100%;
    }
  }

  &__item_card {
    padding-left: 36px;
  }
}

.card {
  position: relative;
  z-index: 4;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('./card.svg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  &__quantity {
    position: absolute;
    right: -40%;
    top: 0;
    display: inline-flex;
    align-items: center;
    border-radius: 25px;
    padding: 4px 6px;
    height: 24px;
    font-size: 12px;
    line-height: 133%;
    color: var(--light-color);
    background-color: var(--primary-color);
    transform: translateY(-50%);
  }
}
