.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--text-color, #242424);
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;

  min-width: 22px;
  width: 100%;
  height: 24px;

  border-radius: 5px;
  border: 2px solid var(--schemes-outline-50, rgba(152, 153, 152, 0.5));

  outline: none;
  cursor: pointer;

  &:checked {
    border: 2px solid var(--primary-color, #758963);
    background: var(--primary-color, #758963);
  }

  &:hover {
    border: 2px solid var(--accent-color, #3f5028);
  }

  &:disabled {
    cursor: default;
    border: 2px solid var(--schemes-outline-50, rgba(152, 153, 152, 0.5));
  }
}
