.not_found_section {
  &__left {
    place-self: center;
    grid-column: 2 / 6;

    @media (max-width: (900px)) {
      grid-column: 12 span;
    }
  }

  &__title {
    margin-bottom: 22px;
    font-weight: 400;
    font-size: var(--main-title-size, 57px);
    line-height: 112%;
    color: var(--text-color);
  }

  &__descr {
    margin-bottom: 44px;
    max-width: 320px;
    font-weight: 400;
    font-size: var(--page-title-size);
    line-height: 122%;
    color: var(--accent-color);
    text-wrap: balance;

    @media (max-width: (900px)) {
      max-width: 440px;
      font-size: 16px;
    }
  }

  &__right {
    place-self: center;
    grid-column: 7 span;

    @media (max-width: (900px)) {
      order: -1;
      grid-column: 12 span;
    }
  }
}
